.slide{

    &__img{
    max-height: 100vh;
    max-width: 100vw;
    object-fit: contain;


        // @include respond(phone-land){
        //     margin-top: 0;
        // }    

        @include respond(phone){
            max-height: 75vh;
        }
    }

    &__arrow-btn{
        color: $color-grey-dark-4 !important;
        border: none !important;
        font-family: lato;
        box-shadow: none !important;
    }

}

.glide,
.glide2{

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    }


.arrow-icon{
    width: 2rem;
    height: 2rem;
    color: black !important;
}